body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97.33vh;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    font-family: sans-serif;
  }
  
  #card {
    width: 200px;
    height: 400px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  
    animation: move 5s ease-in-out infinite;
    background-clip:padding-box;
  }
  
  h1 {
    position: absolute;
    z-index: 1;
    font-size: 200px;
    letter-spacing: 15px;
    color: #fff;
  }
  
  @keyframes move {
    0% {
      transform: translateX(-200px);
     
    }
    50% {
      transform: translateX(200px);
    
    }
    100% {
      transform: translateX(-200px);
     
    }
  }
  
  #rect {
    top: 30px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
  }
  
  #circle {
    bottom: 100px;
    left: calc(100vw / 3 );
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
  }
  
